.Game-canvas {
  width: 100%;
}

.Game-score {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: 'Bungee Hairline', Menlo, Consolas, monospace;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
}

.Game-message {
  position: absolute;
  bottom: 12rem;
  left: calc(50% - 9.375rem);
  z-index: 1;
  width: 18.75rem;
  text-align: center;
  color: #fff;
}
